<footer>
    <div class="wrapper">
        <div class="logo">
            <div class="icon">
                <img src="assets/images/qualis-help-icon.svg" alt="Datalyzer Qualis Help" />
            </div>
            <div class="brand">
                <img src="assets/images/datalyzer_logo.svg" alt="Datalyzer" />
            </div>
        </div>
        <div class="products">
            <!-- <h4>Products</h4>
            <ul>
                <li><a href="https://datalyzer.com/products/spc-software/" target="_blank">SPC</a></li>
                <li><a href="https://datalyzer.com/products/fmea-software/" target="_blank">FMEA</a></li>
                <li><a href="https://datalyzer.com/products/apqp-software/" target="_blank">OEE</a></li>
                <li><a href="https://datalyzer.com/products/spc-wizard-software/" target="_blank">Wizard</a></li>
                <li><a href="https://datalyzer.com/products/apqp-software/" target="_blank">APQP</a></li>
            </ul> -->
        </div>
        <div class="connect">
            <div class="social">
                <h4>Connect with us</h4>
                <ul>
                    <li>
                        <a href="https://www.youtube.com/@datalyzerinternationalinc.4063" target="_blank" class="btn">
                            <span class="dl-youtube"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/datalyzer-international/" target="_blank" class="btn">
                            <span class="dl-linkedin"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="contact">
                <span>Sales & Support:</span>
                <div><span class="dl-phone-call"></span> +91 9740013624</div>
                <div>|</div>
                <div><span class="dl-mail"></span> <a href="mailto:sales@datalyzer.com">sales@datalyzer.com</a></div>
            </div>
        </div>
    </div>
</footer>